<head>
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1{
            color :#5882FA;
            font-family: 'Poor Story', cursive;
        }
        p{
            color : black;
            font-family: 'Poor Story', cursive;
        }
    </style>

</head>


<h1><i class="fa fa-search"></i>About</h1>

<p>안녕하세요, 이곳은 글자를 세주는 멋쟁이 사자처럼의 워드카운트 웹페이지 입니다. 여기서 글자를 세세요.</p>

<p><a href="{%url 'home' %}">Home으로 돌아가기</a></p>