<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1 style="text-align:center;"><strong>This is Home page.</strong></h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>
    {% for blog in posts %}
    <tbody>
      <tr>
        <th scope="row">{{blog.id}}</th>
        <td><a href="{% url 'detail' blog.id %}">{{blog.title}}</a></td>
        <td>{{blog.pub_date}}</td>
        <td>?</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>


{% for blog in posts %}
<br>

<!-- <div class="container" >
    <div class="card" >
        <div class="card-body">
        <a href="{% url 'detail' blog.id %}"> <h5 class="card-title">{{ blog.title }}</h5></a>
        <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date }}</h6>
        <p class="card-text">{{ blog.body }}</p>
        <a href="{% url 'delete' blog.id%}" class="card-link"> 삭제하기 </a>
        <a href="{% url 'update' blog.id%}" class="card-link"> 수정하기 </a>
        </div>
    </div>
</div>
{% endfor %} -->

<br>
<div class="container" style="text-align:right;">
    <a href="{% url 'new' %}">
        <button type="button" class="btn btn-dark" style="color:white;"> 
            new post</button> 
    </a>
</div>
<br>

<!--First/previous/ 1 of 3 /Next/Last-->

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
      {% if posts.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
      {%endif%}
      <li class="page-item"><a class="page-link" href="?page={{posts.number}}">{{posts.number}}</a></li>
      <li class="page-item"><a class="page-link" href="#">of</a></li>
      <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}}</a></li>
      {% if posts.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
      {%endif%}
      <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a></li>
    </ul>
  </nav>

